@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --tipografia-body: 'Montserrat',
        sans-serif;
    --tamano-fuente: 16px;
    --primary-color:#2C2C2C;
    --secundary-color: #79AE29;
    --third-color:#FD9A00;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--tipografia-body);
    font-size: var(--tamano-fuente);
    /* padding: 15px 10px 25px 10px; */
}

/* Selector de tipo: nombre de una etiqueta -- Selector universal: * (todos los elementos del documento HTML) -- Selector de clases: .(Segudo del nombre de la clase) --- Selector de ID: #(Seguido del nombre del ID) */
.encabezado section{
    background-color:var(--secundary-color);
    border-bottom: 2px solid white;
    padding: 10px 15px;
}

.encabezado img{
    width: 150px;
    height: 55px;
    object-fit: cover;
}

.encabezado nav{
    background-color: var(--primary-color);
    border-bottom: 4px solid var(--third-color);
    color: white;
    display: flex;    
}

.encabezado a{
    color: white;
    text-decoration: none;
}

.menu-desplegable{
    position: relative;
}

.menu-desplegable li{
    /* display: none; */
    padding: 10px;
    width: 200px;
    font-size: 12px;
    background-color: var(--primary-color);    
    /* height: 80px; */
}

.menu-desplegable div{
    display: none;
    position: absolute;
    top:45px;
    left: 0;
}

.encabezado ul, .encabezado a{
    padding: 10px;
}

.menu-desplegable span, .encabezado a{
    text-transform: uppercase;
}

.menu-desplegable:hover{
    cursor: pointer;
    font-weight: 800;
}

.menu-desplegable:hover div{
    display: block;
}

.principal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 60%;
}
.principal h1{
    margin-top: 150px;
}

.principal img{
    width: 100%;
}

.principal table{
    text-align: center;
    border-spacing: 0;
}

.principal table th, .principal table td{
    padding: 5px;
}

.principal table thead{
    background-color: #4AACC5;
    color: white;
    border-bottom: 4px solid white;    
}

.principal__redes img{
    width: 40px;
}

.principal__redes figure{
    display: flex;
    gap:10px;
}

.principal__redes h6{
    margin-bottom: 10px;
    color: gray;
}

.aside h5{
    text-transform: uppercase;
    color: gray;
    margin-bottom: 10px;
}

.aside__post{
    display: flex;
    font-size: 13px;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.aside__post img{
    width: 150px;
}

.aside__posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside h4{
    margin: 20px 0;
}

.aside > p{
    margin-bottom: 10px;
}

.aside form{
    display: flex;
    flex-direction: column;
}

.aside label{
    color: gray;
}

.aside input, .aside textarea{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.aside textarea{
    height: 50px;
}

.aside form button{
    background-color: var(--secundary-color);
    border: none;
    padding: 10px 15px;
    align-self: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.aside form button:hover{
    background-color: transparent;
    border: 1px solid var(--secundary-color);
    color: var(--secundary-color);
}

.seccion-principal{
    display: flex;
}


@media screen and (max-width: 830px) {
    .seccion-principal{
        flex-direction: column;
    }
    .principal{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .encabezado nav{
        display: none;
    }
}